/**
 VERRUKKULLUK MAIN.CSS
 */


 :root {

    /* FONTS */
    --heading: "pretty_lilyregular";

    /* COLORS */
    --dark-brown: #402214;
    --lighter-brown:  #774231;
    --lightest-brown: #aa4b1b;

    --darker-red: #b31714;
    --lighter-red: #dc3439;

    --kahki: #fff0d6;

    --darker-orange: #eb8d1f;
    --lighter-orange: #fca01f;

    --darker-green: #6e8722;
    --lighter-green: #95b82d;

    --white: #FFF;
    --black: #000;

}

/** HEADING **/
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading) !important;
    color: var(--darker-green);
}

h1 {
    font-size: 52px;
}

h2 {
    font-size: 42px;
}

h3, h4 {
    font-size: 32px;
}

h5 {
    font-size: 16px;
}


/** HTML / BODY **/
html, body {
    font-family: "Helvetica Neue", Arial, SansSerif;
    font-size: 16px;
}

.center-text{
    display:flex;
    align-items: center;
}

.space-between{
    display:flex;
    justify-content: space-between;
}

.navigation_sander {
    
    height: 500px;
    margin: 0 150px 50px;
    color: var(--white);
    text-align: center;
    position: relative;
    }

.logo {
    position:absolute;
    left:0;
    z-index:1;
    width: 300px;
    height: auto;
    margin:50px;

}

.column-left{
    height:100%;
    display: flex;
    flex-wrap:wrap;
    align-content: space-between;
}

.button{
    background-color: var(--lighter-red);
    color:#FFF;
    font-family: var(--heading);
    font-size: 1.75rem;
    padding: 2 15 2;
    border: var(--lighter-red);
    border-radius: 25px;
    text-decoration: none;
    
}

.button:hover{
    background-color: var(--darker-red);
    color:#FFF;
    box-shadow: 0 0 5px #000;

}

.agenda {
    background-color: var(--lighter-green);
    margin-left:150px;
    width:100%;
    margin-bottom: 25px;
    padding:10px 0 10px;
    
    text-align: center;
}

.workshop{
    margin:15 30 15;
    text-align: left;
}


.log-in {
    background-color: var(--darker-red);
    width:100%;
    margin-left:150px;
    margin-bottom:50px;
    text-align: center;
}

.form-field{
    color:#FFF;
    margin: 0 20 0;
    text-align: left;
}

.input-field{
    width:100%;
    border: var(--darker-red);
    border-radius: 5px;
    height:2rem;
    margin-bottom: 10px;
}

.main {
    margin-left: 25px;
    margin-right: 150px;
    height: 100%;
}

.recipes {
    list-style: none;
    padding:0;
    height:100%;
    display:flex;
    flex-wrap: wrap;
     
}

.footer_sander {
    background-color: var(--darker-orange);
    width: calc(100% - 300px);
    margin: 50px 150px 0;

    padding:50px;
    height:250px;
    color: var(--white);

}

.footer_sander__p {
    font-size: 12px;
    line-height: 0.9rem;
    margin-left:150px;
    width:250px;
}

.recipe_detail{
    text-align: center;
    background-color: green;
}

.recipe_info{
    margin-top: 50px;
    margin-bottom: 50px;
}

.recipe-tabs{
    border: #000;
    box-shadow: 1px -2px 5px;
    border-radius: 25px 25px 0 0;
    color:#000;
}

.recipe-body{
    min-height: 300px;
    border: #000;
    box-shadow: 0 0 10px;
    z-index:-1;
}

.recipe_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 60%;

}

.detail_card{
    width:100%;
    height:400px;
    box-shadow: 0 0 3px;
}

.detail_recipe_img {
    width:100%;
    height:100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}


.recipe_icons{
    color:var(--lighter-red);
    margin-top: 15px;
    margin-bottom: 15px;
    
}

.favorite{
    color:var(--lighter-red);
    font-size:2rem;
    text-decoration: none;
}

.favorite:hover{
    color: var(--darker-red);
    cursor:pointer;
}

.favorite:visited{
    background-color: var(--lighter-red);
}

.card_text{
    font-size:0.9rem;
    margin-bottom:50px;
    height: 500px;
}

.hamburger-menu{
    position: absolute;
    right:25px;
    top:25px;
}

.menu-trigger{
    font-size: 3rem;
    color:var(--lighter-orange);
    cursor: pointer;
    transition: all 0.4s ease;
    z-index: 5000 !important;
}

.hamburger-menu:hover .dropdown{
    top:0px;
}


.dropdown{
    position: fixed;
    cursor:pointer;
    top: -400px;
    left:150px;
    right:150px;
    height: 150px;
    background-color: #FFF;
    box-shadow: 0px 5px 10px #000;
    transition: all 0.4s ease;
    padding-top: 50px;
    z-index:2;
}

.logo-dropdown{
    width: 200px;

}

.menu-headers{
    text-decoration: none;
    font-family: var(--heading);
    color: var(--lighter-red);
    font-size: 3rem;
}

.menu-headers:hover{
    color:var(--darker-red);
}

.searchbar-pos{
    background-color: #FFF;
    position: absolute;
    right:100px;
    top:25px;
    height:50px;
    width:300px;
    border-radius: 25px;
    padding:10px;
    display: flex;
    gap:10px;
    
}

.search-icon{
    color:red;
    font-size: 30px;
}

.searchbar{
    height: 30px;
    width: 240px;
    border:none;
}

.searchbar:active, .searchbar:focus {
    border: none;
    outline: none;
    background-color: #ffffff;
}

.search-dropdown{
    color:#000;
    background-color: var(--kahki);
    box-shadow: 0 0 10px #000;
    position: absolute;
    right:100px;
    top:80px;
    width: 300px;
}

.search-result{
    padding:10px 0 10px;
    margin:0px;
    width: 300px;
    height:100px;
    box-shadow: 0 0 1px #000;
    cursor:pointer;
    text-decoration: none;
}

.search-result:hover{
    background-color: #BDB76B;
}

.heading__small{
    font-size:1.25rem !important;
}

.text__small{
    font-size:0.8rem;
}

.ingredient{
    padding:20px 20px 0;
    
}

.ingredient:last-child{
    padding-bottom: 20px;
}

.prepare{
    display:flex;
    align-items:center;
}

.prepare:last-child{
    padding-bottom:25px;
}

.stepnumber{
    display:flex;
    background-color: var(--lighter-orange);
    margin: 20px 15px 0px 30px;
    width:50px;
    height: 50px;
    border-radius:25px;
    color:white;
    justify-content: center;
    align-items: center;
    font-size:2rem;
    font-weight: bold;
}

.remarks{
    display:"flex";
    align-items: center;
    padding:20px 10px 0 20px;
}

.remarks:last-child{
    padding-bottom: 20px;
}

.user_img{
    width:100px;
    height:100px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 5px solid var(--darker-orange);
    border-radius:50px;
}

.star {
    color: darkgoldenrod;;
    cursor: pointer;
}

.star:hover {
    color: gold;
}

.selected_stars{
    color:gold;
}

.grocery_list{
    box-shadow: 2px 2px 10px #000;
    padding: 25px;
    width: 100%;
    min-height: 900px;
    margin-bottom:50px;
}

.height-groceries{
    height:125px;
}

.amount {
    text-align: center;
    color: var(--lighter-green);
    font-weight: bold;
    box-shadow: 0px 0px 3px #000;
    width: 100%;
}

.padding-prizes{
    padding-left:5px;
    padding-right:5px;
    text-align: center;
}

.total-prize {
    font-weight: bold;
    padding-top: 20px;
    
}

.bigger-text {
    font-size: 1.25rem;
}

.icons-groceries{
    font-size: 2rem;
    cursor:pointer;
    text-decoration: none;
}

.check {
    color: var(--darker-green);
    margin-right: 5px;

}

.check:hover {
    color: var(--lighter-green);
}

.trash {
    color: var(--lighter-red);
}

.trash:hover {
    color: var(--darker-red);
}

