{# Opnemen van de "Main" file #}
{% extends "main.html.twig" %}

{% block header %}
    {{parent()}} 
{# <img src="assets/img/logo-v2.png"/> #}
{% endblock %} 


{# nu de block content op in de main pagina vullen #}
{% block content %}
    


{# Loop #}
    <ul class="recipes">
    {% for record in data %}
        <li class="recipe">
            {{record.titel}}
        
            

            
            {# <div class="card" style="width: 10rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div> #}

            
            
        </li>
    {% endfor %}
    </ul>
     {# Dump #}
       {# <pre>
        {{ dump(data) }}
       </pre> #}
    

{% endblock %}
