<html lang="nl">
<head>

    <title>het is verrukkuluk! :: {{ TITEL }} </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css" href="assets/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/fontawesome.css" />

    <link rel="stylesheet" type="text/css" href="assets/css/main.css" />

    <script type="text/javascript" language="javascript" src="assets/jquery/jquery-3.5.1.js"></script>
    <script type="text/javascript" language="javascript" src="assets/bootstrap/js/bootstrap.js"></script>

</html>
<body>
<div class="container-fluid">

    <div class="row">
        <div class="col-md-12 navigation_sander">
            
            {% block header %}
            
                
        
        
            
            {% endblock %}   
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="agenda">
                <img src="assets/img/verrukkulluk-agenda.png" style="width:150;">
                    <p>
                    workshop <br> 
                    workshop <br> 
                    workshop <br> 
                    workshop <br> 
                    workshop <br> 
                    workshop <br> 

                    </p>
            </div>
            <div class="log-in">
                username <br>
                password
            
            
            {# <i class="fa fa-calendar"></i> FontAwesome <a href="https://fontawesome.com/icons?d=gallery&m=free">Documentation</a><br>
            <i class="fa fa-file-pdf"></i><a href="https://www.layoutit.com/build">Layout-it</a> #}
                
            </div>
        </div>
        <div class="col-md-8">
            <div class="main">
                {%  block content %}
                {%  endblock %}
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12 footer_sander">
            <img src="assets/img/verrukkulluk-pay-off.png" style="width:100; margin-right:30;"/>
            <img src="assets/img/verrukkulluk-contact.png" style="width:150"/>
            
            <p class="footer_sander__p">
            Verrukkulluk.nl <br>
            Poststraat 2b  <br>
            Sittard <br>
            info@verrukkulluk.nl</p>
        </div>
    </div>


</div>

</body>
